<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  

 
  <ion-card-header>
    
    <ion-card-title>Central de Reclamações</ion-card-title>
  </ion-card-header>


   <ion-card-content>
      Aqui seria alguma reclamação de algum usuário 
    </ion-card-content>

   

  

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="home"></ion-icon>
        <ion-label>Schedule</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>


    
     
  
  
</ion-content>
